/* Mobile styles */
@media (orientation: portrait) {
    .container {
      width: 100%;
      padding: 0vh;
      text-align: center;
      background-color: var(--grey005);
    }
  
    .link {
      color: var(--grey001);
      font-size: 1.5vh;
      font-family: "Heebo", sans-serif;
      font-weight: 400;
      text-decoration: none;
      transition: color 0.2s ease;
    }
  
    .link:hover {
      color: var(--grey004);
    }
  }
  
  /* Desktop styles */
  @media (orientation: landscape) {
    .container {
      width: 100%;
      padding: 2vh;
      text-align: center;
      background-color: var(--grey005);
    }
  
    .link {
      color: var(--grey001);
      font-size: 0.9vw;
      font-family: "Heebo", sans-serif;
      font-weight: 400;
      text-decoration: none;
      transition: color 0.2s ease;
    }
  
    .link:hover {
      color: var(--grey004);
    }
  }